<!--The content below is only a placeholder and can be replaced.-->
<div>
  <app-nav-bar></app-nav-bar>
  <app-hero></app-hero>
<!--<app-product-list></app-product-list>-->

  <!--<div class="row">-->
    <!--<div class="col-md-9">-->
      <!--<app-products #productsC [hidden]="orderFinished"></app-products>-->
    <!--</div>-->
    <!--<div class="col-md-3">-->
      <!--<app-shopping-cart (onOrderFinished)=finishOrder($event) #shoppingCartC-->
                         <!--[hidden]="orderFinished"></app-shopping-cart>-->
    <!--</div>-->
    <!--<div class="col-md-6 offset-3">-->
      <!--<app-orders #ordersC [hidden]="!orderFinished"></app-orders>-->
    <!--</div>-->
  <!--</div>-->

</div>

<router-outlet></router-outlet>
