/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeng/resources/themes/nova-light/theme.css';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/primeng.min.css';

body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 200;
}

.main-button {
  background: #4CAF50 !important;
  border: none;
  width: 150px;
  height: 45px;
  border-radius: 50%;
}
