section {
  width: 100%;
  height: 100vh;
  background: #ffffff;
  padding: 5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #262626;
}

section:nth-of-type(2) {
  background: #ffffff;
  z-index: 5;
  position: absolute;
}

.header-text-container {
  position: absolute;
  top: 50%;
  left: 10%;
  z-index: 10;
}

.big-header {
  font-size: 3.5rem;
  font-weight: 800;
  width: 75%;
}

.small-header {
  font-size: 25px;
  font-weight: 300;
}
:host >>> .ui-button-rounded{
  background: #006241 !important;
  border-radius: 50px !important;
  border: 1px solid #006241 !important;
  text-align: center;
  padding-top: 10px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif !important;
}

.one {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  z-index: 4;
}

.two {
  position: absolute;
  right: 0;
  min-width: 50%;
  top: 25%;
}

.three {
  position: absolute;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-10-7 15:58:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-2
 * ----------------------------------------
 */
.shake-horizontal:hover {
  -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
.vibrate-2 {
  -webkit-animation: vibrate-2 1s cubic-bezier(0.785, 0.135, 0.150, 0.860) infinite;
  animation: vibrate-2 1s cubic-bezier(0.785, 0.135, 0.150, 0.860) infinite;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-10-7 22:18:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

@-webkit-keyframes vibrate-2 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  60% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes vibrate-2 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  60% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

