<section>
  <div class="header-text-container">
    <h1 class="big-header">High quality LAB tested CBD</h1>
    <p class="small-header">Care about your health</p>
    <button pButton type="button" class="ui-button-rounded ui-button-success main-button shake-horizontal">Zamów</button>
  </div>

  <!--<img src="../../../../assets/img/main-bg-overlay.png" class="one vibrate-2 rellax">-->
  <img src="../../../../assets/img/cbd_gummies_dribbble_2x.png" class="two rellax">
  <!--<img src="../../../../assets/img/chris-the-addict.jpg" class="three rellax">-->
</section>
<section>
  <h1>fjasfjsgf</h1>
  <p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
    corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
    qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
    distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
    placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut
    officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non
    recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias
    consequatur aut perferendis doloribus asperiores repellat."</p>
  <!--<app-product-list></app-product-list>-->
</section>
